{:paths ["src/core"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        thheller/shadow-cljs {:mvn/version "2.28.19"}
        binaryage/devtools {:mvn/version "1.0.0"}
        stylefy/stylefy {:mvn/version "3.2.0"}
        stylefy/generic-dom {:mvn/version "3.0.0"}
        thi.ng/color {:mvn/version "1.5.1"}
        moi/refx {#_:local/root #_"/Users/pierrebaille/Code/Forks/refx"
                  :git/url "https://github.com/pbaille/refx.git"
                  :sha "2d9701362a362b7f2309b44d7895271408d97bf3"}
        com.pitch/uix.core {:mvn/version "1.2.0"}
        com.pitch/uix.dom {:mvn/version "1.2.0"}}
 :aliases {:demo {:extra-paths ["src/demo"]
                  :extra-deps {zprint/zprint {:mvn/version "1.2.8"}}}}}
